.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.loginForm input {
  width: 90px;
}

.loginOrRegInputs {
  display: flex;
}

.errMsg{
  color: red;
}

.loginForm button,
.registrationForm button,
.showLoginForm button,
.showRegistrationForm button {
  background-color: darkorange;
  width: auto;
}

.loginForm {
  padding-bottom: 20px;
}

.datePost {
  color: gray;
  font-size: 12px;
  padding-top: 5px;
}

.titilePost {
  font-size: 16px;
  padding: 0px;
  font-weight: bold;
}

.inputAndError {
  display: flex;
}

.viewPost {
  padding: 10px;
  width: 500px;
  background-color: blanchedalmond;
  border-radius: 1em;
}

button {
  width: 150px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2em;
  background-color: aquamarine;
}

.post {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.errorMsg {
  margin-left: 0px;
  color: red;
}

* {
  margin: 5px;
}

body {
  background-color: rgb(196, 220, 220);
}

.form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 10px;
}
