.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.loginForm input {
  width: 90px;
}

.loginOrRegInputs,
.userHeader {
  color: rgb(60, 58, 58);
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.errMsg {
  color: red;
}

.registrationForm {
  display: flex;
  flex-direction: column;
}

.loginForm button,
.registrationForm button,
.showLoginForm button,
.showRegistrationForm button {
  background-color: darkorange;
  width: auto;
}

.loginForm {
  display: flex;
  flex-direction: row;
}

.datePost,
.userName,
.namePost {
  color: gray;
  font-size: 14px;
  padding-top: 5px;
}

.titilePost {
  font-size: 16px;
  padding: 0px;
  font-weight: bold;
}

.inputAndError {
  display: flex;
}

.viewPost {
  padding: 10px;
  width: 500px;
  background-color: blanchedalmond;
  border-radius: 1em;
}

button {
  width: auto;
  border: 1px solid black;
  border-radius: 2em;
  background-color: aquamarine;
  cursor: pointer;
}

.orange {
  background-color: darkorange;
}

.post {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

* {
  margin: 5px;
}

.nav {
  display: flex;
  justify-content:center
}

body {
  background-color: rgb(196, 220, 220);
}

.form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 10px;
}

.nav {
  display: flex;
}

.homeIcon {
  width: 20px;
  height: 20px;
}
